body {
    margin: 0;
    padding-top: 800px;
    text-align: center;

}

.profile {
    width: 175px;
    margin-bottom: 50px;
    border-radius: 50%;
}

#welcome {
    position: absolute;
    overflow: hidden;
    height: 800px;
    color: white;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: table;
    width: 100%;
    height: 100%;
    background: linear-gradient(#8affe2 0%, #179c7a 100%);
    z-index: 9;
}

.parallax-inner {
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;

}

h1 {
    font-size: 40px;
    line-height: 1.2;
    font-family: inherit;
    font-weight: 300;

}

h2 {
    font-size: 30px;
    line-height: 1.2;
    font-family: monospace;
    font-weight: 300;

}

#name {
    font-size: 30px;
    line-height: 1.2;
    font-family: cursive;

}

p {
    font-size: 17px;
    line-height: 1.3;
    max-width: 450px;
    margin: 25px auto;

}

.line {
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;
}

#bio {
    padding: 50px;
    text-align: center;
    font-size: 42px;

}

.menu {
    list-style: none;
    position: absolute;
    top: 10px;
    right: 30px;
    cursor: pointer;
    z-index: 10;
}

.links{
    float: left;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
    font-size: 20px;
    font-family: 'Yusei Magic', sans-serif;
}
.links:hover{
    background-color: chocolate;
}
a{
  text-decoration: none;    
}
.article:hover {
  color: burlywood;  
}
html{
    scroll-behavior: smooth;
}
img{
    transition:transform.2s;
    border: 10px solid #AAAAAA;
}
img:hover{
    transform: scale(0.9)
}a{
  text-decoration: none;
    color:cornflowerblue;
    text-shadow: 2px 2px gainsboro;
}
.article:hover {
  color: burlywood;  
}
#writings a{
    text-shadow: none !important;
    text-decoration:underline !important;
    color: blue !important;
    
}
.contact_1 a{
    color: black;
    text-shadow: none;
}
.contact_1 h3{
    display: inline;
}
#contact{
    background: azure; 
}
#contact iframe{
    width: 100%;    
}

